@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins&display=swap');
body {
	margin: 0;
	padding: 0;
	background: #373670;
}
ul{
	padding: 50px;
	margin: 0;
	border: 5px solid #fff;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%) ;
}
ul li{
	list-style: none;
	color: #fff;
	float: left;
	font-size: 5em;
	font-family: 'Akaya Telivigala', cursive;
	transition: .9s;
}
ul:hover li{
	transform: rotateY(360deg);
}
ul:hover li:nth-child(1){
	color: red;
	transition-delay: .9s;
}
ul:hover li:nth-child(2){
	transition-delay: .6s;
}
ul:hover li:nth-child(3){
	transition-delay: .3s;
	color: red;
}
ul:hover li:nth-child(5){
	color: red;
}
ul:hover li:nth-child(6){
	color: red;
}
